<div
  *ngIf="vm$ | async as vm"
  class="relative p-3 pr-6 grid grid-flow-row auto-rows-min place-items-top min-h-screen justify-items-center w-full"
>
  <div class="grid grid-cols-4 gap-4 w-full h-full">
    <div class="col-start-1 col-span-3">
      <header-bar
        [searchFor]="vm.searchBy"
        [filterBy]="vm.filterBy"
        (onLoad)="vm.searchMovies($event)"
        (onFilter)="vm.updateFilter($event)"
        (onClear)="vm.updateFilter('')"
      ></header-bar>
      <div
        class="p-4 pt-3 max-w-5xl grid gap-4 sm:grid-cols-2 span-col-3 overflow-y-auto max-h-[958px] w-full"
      >
        <movie-card 
          *ngFor="let it of vm.filteredMovies; trackBy: trackByKey" 
          [movie]="it" (mouseover)="highlightedGenres =it.genre_ids"></movie-card>
      </div>
      <pagination-bar 
        [pagination]="vm.pagination"         
        class="p-4 pt-3 w-[800px]"></pagination-bar>
    </div>
    <check-group 
      title="Genres" 
      [list]="vm.genres.list" 
      [selected]="vm.genres.selected" 
      [highlighted]="highlightedGenres"
      (onSelectionChange)="vm.selectGenresById($event)">
    </check-group>
  </div>
</div>
