<div
  *ngIf="vm$ | async as vm"
  class="p-3"
>
  <header-bar
    [searchFor]="vm.searchBy"
    (onLoad)="vm.searchMovies($event)"
  ></header-bar>

  <div class="grid sm:grid-cols-3 lg:grid-cols-4 gap-8 w-full h-full">
    <div class="sm:col-span-2 lg:col-span-3">
      <div
        class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 max-h-[632px] overflow-y-auto p-1"
      >
        <movie-card 
          *ngFor="let it of vm.filteredMovies; trackBy: trackByKey" 
          [movie]="it" (mouseover)="highlightedGenres =it.genre_ids"></movie-card>
      </div>
      <pagination-bar 
        [pagination]="vm.pagination"         
        class="block pt-4"></pagination-bar>
    </div>

    <div class="col-span-1">
      <div class="genres px-2 space-y-1 w-full border-dashed border-2 border-[#d3dce6] rounded-xl flex-1 mb-2 -ml-2">
        <filter-input
          [filterBy]="vm.filterBy"
          (onFilter)="vm.updateFilter($event)"
          (onClear)="vm.updateFilter('')"
          class="block pt-4"
        ></filter-input>
      </div>
      <check-group 
        title="Genres" 
        [list]="vm.genres.list" 
        [selected]="vm.genres.selected" 
        [highlighted]="highlightedGenres"
        (onSelectionChange)="vm.selectGenresById($event)">
      </check-group>
    </div>
  </div>
</div>
